/*
Author: Marco Peterson
Date: Jan 16th 2013
CSCI 496
*/

#header {
  background:url(IEEE%20small.png) right no-repeat;
}

h1 {font-family: Arial, Helvetica, Futura;}
h1 {font-size:200%}
h2 {font-family: symbol;}

#X300 {font-size:300%;}

a:link{color: blue;}
a:visited{color: purple;}
a:hover{color: green;}
a:active{color: red;}

* {font-size:100%}


#container
{
	width: 100%;
	height: 100%;
	min-height: 1000px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-color: #c0c0c0;
	}

/*Horizontal navigation Bar */
#Horizontal_navigation {
position: float;
top: 0;
width: 100%;
color: #FF8000;
height: 30%;
text-align: left;
padding-top: 15px;
padding-bottom: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: #FF8000;
color: rgba(1, 1, 1, 0.8);
}

#Horizontal_navigation a {
font-size: 45px;
padding-left: 50px;
padding-right: 50px;
padding-top: 15px;
padding-bottom: 15px;
color: blue;
text-decoration: none;
}

#Horizontal_navigation a:hover {color: white;}
#Horizontal_navigation a.selected {color: white;}



/*Content */
#content {
	width: 100%;
	min-height: 900px;

	
	/* for design preview */
	border-style: dotted;
	border-color: yellow;
}


/*External links */
#External_links {
	float: right;
	width: 20%;
	min-height: 900px;
	
	/* for design preview */
	border-style: dotted;
	border-color: purple;
	min-height: 900px;
	display: inline;
}

#External_links a{
padding-left: 25px;
padding-right: 25px;
padding-top: 30px;
padding-bottom: 30px;
font-size: 45px;
}


#footer
{
	width: 100%;

	
	/* for design preview */
	border-style: dashed;
	border-color: blue;
	min-height: 50px;
}

#footer-main
{
	width: 100%;
	background-color: red;
	
	/* for design review */
	border-style: dashed;
	border-color: red;
	min-height: 40px;
}

#footer-declaration
{
	width: 100%;

	
	/* for design review */
	border-style: dashed;
	border-color: blue;
	min-height: 10px;
}
